<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="http://bit.ly/LocalAccess">Explore the Score</a></li>
    <li><a href="https://mapc-org.sharefile.com/d-sea9749bc3734035a" target="_blank">Download the Data</a></li>
    <li><a href="methodology.html">Methodology</a></li>
  </ul>
</nav>
