

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header" class="alt">
			<a href="index.html" class="logo"><strong>Local Access Score</strong> <span>by MAPC</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

	<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="landing.html">Landing</a></li>
				<li><a href="generic.html">Generic</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
		</nav>

	<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">
					<h1>Prioritize Better.</h1>
				</header>
				<div class="content">
					<p>Local Access helps planners and policymakers prioritize development in their communities by mapping latent transportation demand.<br/><br/> Explore the use cases below:</p>
					<ul class="actions">
						<li><a href="http://bit.ly/LocalAccess" class="button next scrolly">Go to map</a></li>
					</ul>
				</div>
			</div>
		</section>

	<!-- Main -->
		<div id="main">
			<!-- One -->
				<section id="one" class="tiles">
					<article>
						<span class="image">
							<img src="images/planning_priorities.jpg" alt="" />
						</span>
						<header class="major">
							<h3><div class="link">Planning and Prioritization</div></h3>
							<p>Local complete streets prioritization plans or pedestrian and bike plans can use the data to identify locations in need of improvement.</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="images/completestreets.jpg" alt="" />
						</span>
						<header class="major">
							<h3><div class="link">Pedestrian & Bike Assessments</div></h3>
							<p>Field investigation or documentation of local pedestrian conditions should focus on high-utility roadway segments likely to be used by the largest number of local residents.</p>
						</header>
					</article>

					<article>
						<span class="image">
							<img src="https://unsplash.it/800/600/?random" alt="" />
						</span>
						<header class="major">
							<h3><div class="link">Maintenance & enforcement</div></h3>
							<p>Local Access scores can be used to inform operational plans for snow clearance, vegetation management, or routine repair.</p>
						</header>
					</article>

					<article>
						<span class="image">
							<img src="https://unsplash.it/800/600/?random" alt="" />
						</span>
						<header class="major">
							<h3><div class="link">Project selection</div></h3>
							<p>Local Access scores can be used to screen the projects & possibly eliminate those likely to serve a relatively small number of users.</p>
						</header>
					</article>

					<article>
						<span class="image">
							<img src="https://unsplash.it/800/600/?random" alt="" />
						</span>
						<header class="major">
							<h3><div class="link">Wayfinding</div></h3>
							<p>Wayfinding programs can use the data to place signs where many people will pass, or at key intersections where walkers might be redirected to a recommended pedestrian route</p>
						</header>
					</article>
					<article>
						<span class="image">
							<img src="https://unsplash.it/800/600/?random" alt="" />
						</span>
						<header class="major">
							<h3><div class="link">Pedestrian counts & performance measurement</div></h3>
							<p>Local Access utility scores can be used to identify groupings of count locations that are representative of an entire municipality or study area.</p>
						</header>
					</article>
				</section>

			<!-- Two -->
				<section id="two">
					<div class="inner">
						<header class="major">
							<h2>Filling the Data Gap</h2>
						</header>
						<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
						<ul class="actions">
							<li><a href="landing.html" class="button next">Get Started</a></li>
						</ul>
					</div>
				</section>

		</div>

	<!-- Contact -->
		<section id="contact">
			<div class="inner">
				<section>
					<form method="post" action="#">
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="special" /></li>
							<li><input type="reset" value="Clear" /></li>
						</ul>
					</form>
				</section>
				<section class="split">
					<section>
						<div class="contact-method">
							<span class="icon alt fa-envelope"></span>
							<h3>Email</h3>
							<a href="#">information@untitled.tld</a>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon alt fa-phone"></span>
							<h3>Phone</h3>
							<span>(000) 000-0000 x12387</span>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon alt fa-home"></span>
							<h3>Address</h3>
							<span>1234 Somewhere Road #5432<br />
							Nashville, TN 00000<br />
							United States of America</span>
						</div>
					</section>
				</section>
			</div>
		</section>

	<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li>
					<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					
				</ul>
			</div>
		</footer>

</div>
